<div class="admin__title">
    <h2 class="admin__title-h2">Posts</h2>
    <a href="/admin/add-post">+ Add Posts</a>
</div>

<div class="admin__post">
    <ul class="admin__post-ul">
        <% array.forEach(element => { %>
         
        <% }) %>
    </ul>
</div>
