@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

:root {
    --black: #1c1c1c;
    --gray: #7E7E7E;
    --gray-light: #E4E4E4;
    --red: #b30000;
    --base-font-size: 1rem;
    --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    font-size: var(--base-font-size);
    background-color: #FAF5EE;
    background-image: url("/img/img-noise-361x370.png");
    margin: 0;
}

a {
    color: var(--black);
}

h1 {
    font-size: var(--font-size-xl);
}

h2 {
    font-size: var(--font-size-lg);
}

h3 {
    font-size: var(--font-size-md);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea {
    font-size: var(--base-font-size);
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    padding: 0.7rem 0.75rem;
    margin-bottom: 1rem;
    margin-top: 0.3rem;
}

.btn {
    background-color: var(--black);
    color: white;
    border: none;
    padding: 16px 32px;
    margin: 4px 2px;
    text-decoration: none;
    cursor: pointer;
}

.btn-delete {
    padding: 10px 16px;
    background-color: var(--red);
}

img {
    width: 100%;
    height: auto;
}

/* Layout */

.container {
    max-width: 982px;
    margin: 0 auto;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.main {
    padding: 20px 0px;
    flex: 1;
}

/* Hero Section */
.hero-image {
    max-height: 528px;
    filter: drop-shadow(0px 44px 34px rgba(0, 0, 0, 0.25));
    border-radius: var(--border-radius);
    overflow: hidden;
}

/* Main Header */
.header {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "logo button"
        "menu menu";
    align-items: center;
    padding-top: 10px;
}

@media only screen and (min-width:768px) {
    .header {
        grid-template-columns: auto 1fr auto;
        grid-template-rows: 1fr;
        grid-template-areas: "logo menu button";
    }
}

.header__logo {
    grid-area: logo;
    font-weight: 800;
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;
}

.header__btn {

    grid-area: button;
    display: flex;
    justify-content: end;
}

.searchBtn {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    border: 0;
    padding: 6px 12px;
    background: none;
    border-radius: 10px;
    border: 2px solid transparent;
    font-size: 1rem;
    font-weight: 600;
    color: var(--black);
}

.searchBtn:hover {
    border: 2px solid var(--black);

}

.header__nav {
    grid-area: menu;
    display: flex;
    justify-content: center;
}

.header__logo,
.header__nav,
.header__button {
    width: 100%;
}

/* Header-Navigation */

.header__nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: 600;
    padding: 0;
}

.header__nav ul a {
    padding: 10px;
    text-decoration: none;
}

.header__nav ul a.active {
    color: #7E7E7E;
}

/* Author Home Page */
.author {
    padding: 10px 0;
    text-align: center;
}

.author__title {
    margin-top: 10px;
    margin-bottom: 5px;
}

.author__body {
    font-size: var(--font-size-md);
    font-weight: 500;
    margin: 5px 0 30px 0;
}

/* Home Article List */
.articles {
    margin-top: 20px;
}

.article__heading {
    padding: 10px 0;
    font-weight: 400;
}

.article-ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-size: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    padding: 0;
    margin: 0;
}

.article-list__date {

    font-size: 1rem;
    color: var(--gray);
    /* width: 120px; */
    display: inline-block;

}

.article-ul li a {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    text-decoration: none;
    margin: 18px 0;
}

@media only screen and (min-width:768px) {
    .article-ul li a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.pagination {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--gray);
}

.pagination:hover {
    color: black;
}


.footer {

    font-weight: 300;
    color: (--grey);
    text-align: center;


}

/* Search Bar */

.searchBar {
    visibility: hidden;
    transform: translateY(-100px);
    position: absolute;
    right: 0;
    left: 0;
    background-color: var(--black);
    padding: 14px 0 0px 0;
    
}

.container__search {
    max-width: 80%;
    margin: 0 auto;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.search__form {
   width: 80%;
}



#searchClose {
    padding-bottom: 8px;
    color: var(--gray-light);
    cursor: pointer;
}


.searchBar.open {
    transform: translateY(0);
    transition: transform 0.1s;
}


.login_form {
    margin-top: 8rem;
}

.error.password__error,
.error.email__error,
.error.login__error {
    text-align: center;
    color: red;
    margin-top: 1.2rem;
}


/* Admin */
.admin_header {
    text-align: center;
}